.container { 
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 1px solid grey;

}


.first-list { 
    list-style: none;
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    color: #2d2d2d;

}

.first-list a { 
    text-decoration: none;
    color: #2d2d2d;
    margin: 5px;
}

.first-list a:hover { 
    color:#cfcfcf;
}

.second-list { 
    list-style: none;
    
    
}

.second-list a { 
    color: #cfcfcf;
    text-decoration: none;
    
}

.second-list li .dropdown { 
    color: #1d5f7c;
    list-style-type: square;
    position: relative;
    right: 50px;
    display: none;
    
}

.has-dropdown:hover .dropdown { 
    display: flex;
    flex-direction: column;
}

.second-list  { 
    color: red;
}
