.container { 

    width: 800px;
    height: 600px;
}

.menu { 
    margin: 25px;
    height: 30px;
    padding: 4px;;
    font-size: 18px;
    background: #92CD00;
}
span,a { 
    margin-left: 120px;
    color: #ffffff;
    text-decoration: none;
}

.content { 
    height: 420px;
}

h1 { 
    color:#92CD00;
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
}

p{ 
    color: #192402;
    font-weight: bold;
    margin-left: 10px;
}
.footer { 
    height: 30px;
    background: #81b518;
    color: #ffffff ;
    text-align: center;
}

a { 
    margin: 0; padding-left: 10px; padding-right: 10px; display: inline; text-align: center;
}

.text { 
    width: 50%;
    height: auto;
    float: left;
}
.img { 
width: 50%;
height: auto;
float: right;
margin-top: 50px;
}


li { 
    font-size: 17px;
    font-weight: bold;
}

#samoovoj {
    color: violet;
    text-decoration: underline;
}

.opcija { 
    text-decoration: underline;
}

#iovoj { 
    color: black;
    text-decoration: underline;
    margin: 0; padding-left: 0px; padding-right: 0px; display: inline; text-align: start;

}

.najava { 
    margin-top: 120px;
}

.kontakt { 
    margin-top: 80px;
}

.podvleceno { 
    text-decoration: underline;
    margin-bottom: -30px;
   
}

dl { 
    font-weight: bold;
}


#list { 
    height: 120px;
    position: absolute;
    top: -5;
}